#<IfModule mod_rewrite.c>
#
#RewriteEngine On
#RewriteBase /
#
## SetEnv HTTP_ROOT /503/
#
#Rewritecond %{REQUEST_URI} ^/503/ [NC]
#RewriteRule ^(.*)/$ /503/index.php?page=$1 [L]
#
#</IfModule>
<IfModule mod_rewrite.c>
	SetEnv HTTP_ROOT /503/
	RewriteEngine on
	RewriteBase /503/
	Rewritecond %{REQUEST_URI} ^/503/ [NC]
	RewriteRule ^(.*)/$ /503/index.php?page=$1 [L]
</IfModule>