body {
  background: #000;
}

#wrapper {
  width: 900px;
  margin: 40px auto;
  background: #101010;
  color: #FFF;
  padding-top: 30px;
  position: relative;
}
#wrapper #connect {
  color: #DFB35C;
  font-size: 13px;
  left: 5px;
  position: absolute;
  text-decoration: underline;
  top: 5px;
}
#wrapper nav ul {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
#wrapper nav ul li {
  width: 400px;
  margin-bottom: 10px;
}
#wrapper nav ul li a {
  background: #891B37;
  color: #FFF;
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 700;
  display: block;
}
#wrapper nav ul li a:hover, #wrapper nav ul li a .actif {
  color: #000;
}
#wrapper h1, #wrapper h2 {
  border-bottom: 2px solid;
  border-top: 2px solid;
  font-size: 35px;
  margin: 30px 0;
  padding: 10px;
  text-align: center;
}
#wrapper ul#erreurs {
  width: 400px;
  margin: 0 auto;
}
#wrapper ul#erreurs li {
  font-size: 20px;
}
#wrapper form {
  text-align: center;
  padding-top: 30px;
}
#wrapper form p {
  margin: 0 auto 20px;
  width: 500px;
  clear: left;
}
#wrapper form p label {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  text-align: right;
}
#wrapper form p input {
  width: 250px;
  height: 20px;
}
#wrapper form p input#envoyer, #wrapper form p input#connexion {
  background: #FFF;
  border: 0 none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
  height: auto;
}
#wrapper form p.date, #wrapper form p.role {
  text-align: right;
}
#wrapper form p.date label, #wrapper form p.role label {
  display: inline;
  width: auto;
  margin: 0;
}
#wrapper form p.date select, #wrapper form p.role select {
  margin: 0 10px;
}
#wrapper section#home {
  width: 100%;
  text-align: center;
}
#wrapper section#membre #infoMembre {
  margin: 0 30px;
}
#wrapper section#membre #infoMembre ul li {
  line-height: 20px;
}
#wrapper section#membre #infoMembre ul li span {
  color: #C03;
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
  text-align: right;
  text-transform: capitalize;
  width: 150px;
}
#wrapper section#membre #infoMembre a {
  background: #007FBA;
  color: #FFF;
  display: block;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;
  width: 400px;
  margin: 20px auto;
  text-align: center;
}
#wrapper section#membre #infoMembre a:hover {
  color: #000;
}
#wrapper p#footer {
  font-size: 15px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-top: 2px solid;
}
#footer{

  width: 900px;
  margin: 0 auto;
  background: #0F6499;
  height: 50px;
  text-align: center;
  padding: 10px;
}